sources:
  redis:
    redis_example:
      host: YOUR_REDIS_HOST
  s3:
    s3_example:
      access_key: YOUR_S3_ACCESS_KEY
      secret_key: YOUR_S3_SECRET_KEY
      bucket_name: YOUR_S3_BUCKET_NAME
      cache: true
  gcs:
    gcs_example:
      credentials_file: /path/to/your/credential_file.json
      bucket_name: YOUR_GCS_BUCKET_NAME
      cache: true
      exclude_patterns:
        - .pdf
        - .docx
  firebase:
    firebase_example:
      credentials_file: /path/to/your/credential_file.json
      bucket_name: YOUR_FIREBASE_BUCKET_NAME
      cache: true
      exclude_patterns:
        - .pdf
        - .docx
  mysql:
    mysql_example:
      host: YOUR_MYSQL_HOST
      port: YOUR_MYSQL_PORT
      user: YOUR_MYSQL_USERNAME
      password: YOUR_MYSQL_PASSWORD
      database: YOUR_MYSQL_DATABASE_NAME
  fs:
    fs_example:
      path: /path/to/your/filesystem/directory
      exclude_patterns:
        - .pdf
        - .docx
        - private
        - venv
        - node_modules
