boto3
PyYAML
jmespath
rich
mysql-connector-python
pymysql
redis
firebase-admin
slack-sdk
google-cloud-core
google-cloud-storage
pymongo==4.6.3
tinydb==4.8.0
pytesseract
Pillow
python-docx
openpyxl
PyPDF2
setuptools
patool
pydrive2
appdirs
tqdm
funcy
fsspec
opencv-python