boto3
PyYAML
rich
mysql-connector-python
pymysql
redis
firebase-admin
slack-sdk
google-cloud-core
google-cloud-storage
pymongo==3.13.0
tinydb==4.8.0
pytesseract
Pillow
python-docx
openpyxl
PyPDF2
patool
pydrive2
appdirs
tqdm
funcy
fsspec
opencv-python